<div class="alert-success">
    Manish Prasad [M.Tech. Applied AI]
</div>
<div class="alert-success">
    ID No. 31107 
</div>
<div class="alert-success">
    Session. 23-24 / S24
</div>
<div class="alert-success">
    Subject: Programming For Data Science
</div>
<div class="alert-success">
    Subject Teacher: Mr. Ajay Bharaj
</div>
<div class="alert-success">
    College: Visvesvaraya National Institute of Technology, Nagpur
</div>

<div class="alert-info">
1) Write a Python program to find the length of a list.
</div>

###### 1.a) Write a Python program to find the length of a list.

In [2]:
def find_length(lst):
    length = len(lst)
    return length

# Create a list
my_list = [1, 2, 3, 4, 5]

# Find the length of the list
list_length = find_length(my_list)

print("The length of the list is:", list_length)

The length of the list is: 5

###### 1.b) Write a Python program to find the length of a list given by user

In [5]:
def find_length(lst):
    length = len(lst)
    return length

# Reading user input data
user_data = input()

# Create a list
user_list = user_data.split()

# Find the length of the list
list_length = find_length(user_list)

print("The length of the list is:", list_length)

 435,435,4,435,34,, , 5,34,534, , ,,3 ,345, 34,534, ,34, 34,5%$^%$^54 rSF45

The length of the list is: 10

In [7]:
user_list

['435,435,4,435,34,,',
 ',',
 '5,34,534,',
 ',',
 ',,3',
 ',345,',
 '34,534,',
 ',34,',
 '34,5%$^%$^54',
 'rSF45']

<div class="alert-info">
2) Explain the difference between lists and tuples in Python.
</div>

###### 2.a) Explain the difference between lists and tuples in Python.

In Python, 
By similarity lists and tuples are both data structures that can store multiple elements. 
and 
By differences between lists and tuples below are the important points:

> Mutability:
>+ Lists are mutable, which means we can change, add, or remove elements after creating a list.
>+ Tuples are immutable, which means once we create a tuple, we cannot change its elements. 
  If we need to modify a tuple, we have to create a new tuple.

>Syntax:
>+ Lists are defined using square brackets [ ], and elements are separated by commas.
>+ Tuples are defined using parentheses ( ), and elements are separated by commas.

>Performance:
>+ Lists are generally slower than tuples because of their mutable nature. Modifying a list requires re-allocating memory and copying elements.
>+ Tuples are faster and more memory-efficient than lists because they are immutable and their size is fixed.

>Use cases:
>+ Lists are commonly used when we need a collection of items that can change dynamically, such as when we are collecting user input or processing data in a loop.
>+ Tuples are useful when we want to store a fixed sequence of elements where immutability is desired, such as representing fixed values like coordinates, dates, or configuration settings.

In summary, lists are mutable, dynamically-sized collections of elements, while tuples are immutable, fixed-size collections of elements. 
The choice between using a list or a tuple depends on we specific use case and whether mutability or immutability is more important for we data.

###### 2.b.i) Example List in python

In [10]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [11]:
type(lst)

list

In [12]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [13]:
lst.remove(2)

In [14]:
lst

[1, 3, 4, 5, 6, 7, 8, 9, 0]

###### 2.b.ii) Example tuples in python

In [16]:
tpl = (1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

In [17]:
type(tpl)

tuple

In [18]:
tpl

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

In [25]:
# tpl.remove(2) -> Error Message -> AttributeError: 'tuple' object has no attribute 'remove'

<div class="alert-info">
3) How do you access and modify elements in a list?
</div>

###### 3.a) How do you access and modify elements in a list?

In Python, we can access and modify elements in a list using indexing and slicing.

Accessing elements in a list:
+ We can access individual elements in a list by using square brackets [] with the index position of the element.

+ Python uses zero-based indexing, which means the first element in the list has an index of 0, the second element has an index of 1, and so on.

Modifying elements in a list:
+ We can modify elements in a list by assigning a new value to a specific index position.

+ This is possible because lists in Python are mutable.

###### 3.b) Example to access and modify list elements

In [31]:
my_list = [1, 2, 3, 4, 5]

# Accessing elements
first_element = my_list[0]
print(first_element)  # Output: 1

last_element = my_list[len(my_list)-1]
print(last_element)  # Output: 5

# Modifying elements
my_list[2] = 10
print(my_list)  # Output: [1, 2, 10, 4, 5]

1
5
[1, 2, 10, 4, 5]

<div class="alert-info">
4) Write a Python program to remove duplicates from a list.
</div>

###### 4.i) Write a Python program to remove duplicates from a list. - I

In [34]:
my_list = [1, 2, 3, 4, 5, 4, 3, 2, 1, 0]
unique_list = []
for i in my_list:
    if i not in unique_list:
        unique_list.append(i)
unique_list

[1, 2, 3, 4, 5, 0]

###### 4.ii) Write a Python program to remove duplicates from a list. - II

In [37]:
my_list = [1, 2, 3, 4, 5, 4, 3, 2, 1, 0]
list(set(my_list))

[0, 1, 2, 3, 4, 5]

<div class="alert-info">
5) Explain the concept of a dictionary in Python and how it differs from lists and tuples.
</div>

###### 5.a) Explain the concept of a dictionary in Python and how it differs from lists and tuples.

> A dictionary in Python is a collection of key-value pairs that allows us to store and retrieve data using keys. 
In a dictionary, each key is unique and is associated with a value. Dictionaries are mutable, meaning that we can add, remove, and modify key-value pairs.

In [11]:
my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}
type(my_dict)  # Type is dictonary

dict

###### 5.b) how it differs from lists and tuples.

Dictionaries differ from lists and tuples in the following ways:

+ Accessing elements: 
    In lists and tuples, elements are accessed by their index position, which is an integer. 
    In dictionaries, elements are accessed by their keys, which can be of any immutable data type.

+ Order: 
    Lists and tuples are ordered collections, meaning that the order of elements in a list or tuple is maintained. 
    Dictionaries are unordered, meaning that the order of key-value pairs may not be preserved.

+ Mutability: 
    Both lists and dictionaries are mutable, meaning that we can modify their elements. 
    Tuples, on the other hand, are immutable, meaning that we cannot change the elements once the tuple is created.

+ Duplicates: 
    Lists can contain duplicate elements, while dictionaries cannot have duplicate keys (each key must be unique).

Value can be a large data set, which can be fetched by a unique and small key entity from a single dictionary object. We can have nubers of key-values pairs in a single dictionary.

Overall, dictionaries are a very flexible and powerful data structure in Python, allowing us to store and retrieve data efficiently using keys. 
They are particularly useful when we need to store data in a way that allows for quick lookups based on unique identifiers.

<div class="alert-info">
6) How do you create and access elements in a dictionary
</div>

###### 6.i) How do you create and access elements in a dictionary

In [84]:
my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}

In [72]:
my_dict

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [60]:
type(my_dict)

dict

In [57]:
my_dict.values()

dict_values(['Alice', 30, 'New York'])

In [55]:
my_dict.keys()

dict_keys(['name', 'age', 'city'])

In [56]:
my_dict.items()

dict_items([('name', 'Alice'), ('age', 30), ('city', 'New York')])

In [61]:
print(my_dict['name'])  # Output: Alice
print(my_dict['age'])   # Output: 30
print(my_dict['city'])  # Output: New York

Alice
30
New York

In [62]:
print(my_dict.get('lastname', 'Unknown'))  # Output: Unknown

Unknown

In [66]:
my_dict['email'] = 'alice@example.com' # Adding a key value pair in a dictionary

In [65]:
my_dict

{'name': 'Alice', 'age': 30, 'city': 'New York', 'email': 'alice@example.com'}

In [64]:
my_dict['email']

'alice@example.com'

###### 6.ii) To Remove the element from a dictionary pop() and popitem() is used

+ pop() - Can throw error if item is not found in the dictionary # KeyError: 'town'
+ pop() - Follows FIFO - First in Fist out, it will start poping(removing) up the element which entered first

In [85]:
my_dict.pop('city') # Can throw error if item not found KeyError: 'town'

'New York'

In [86]:
my_dict

{'name': 'Alice', 'age': 30}

+ popitem() - Can throw error if dictonary is empty # KeyError: 'popitem(): dictionary is empty'
+ popitem() - Follows FIFO - First in Fist out, it will start poping(removing) up the element which entered first

In [87]:
my_dict.popitem()  # Can throw error KeyError: 'popitem(): dictionary is empty'

('age', 30)

In [88]:
my_dict

{'name': 'Alice'}

<div class="alert-info">
7) Write a Python program to merge two dictionaries.
</div>

In [334]:
my_dict = {'name': 'Alice', 'age': 16, 'city': 'Wonderland', 'index': 1}
your_dict = {'gender': 'Female', 'hobby': 'Reading Books', 'friend': 'Rabbit', 'index': 1}

In [410]:
merge_dict = my_dict.copy()
merge_dict.update(your_dict)
merge_dict

{'name': 'Alice',
 'age': 30,
 'city': 'New York',
 'gender': 'Female',
 'hobby': 'Reading Books',
 'friend': 'Rabbit',
 'index': 1}

<div class="alert-info">
8) What are the different string methods available in Python? Give examples.
</div>

##### Some commonly used string methods along with examples:

In [115]:
series = " alICe in boRDerLanD   "
season = ' SeAsOn 1   '

> 8.i upper(): Converts all characters in a string to uppercase.

In [120]:
result = series.upper()
print(result)

 ALICE IN BORDERLAND

In [121]:
series.upper()

' ALICE IN BORDERLAND   '

>  8.ii title(): Only first character of each word in upper case and all other characters in lower case

In [118]:
series.title()

' Alice In Borderland   '

> 8.iii  lower(): Converts all characters in a string to lowercase.

In [119]:
series.lower()

' alice in borderland   '

In [122]:
'123432445'.upper()   # No use of title / lower / upper in integer type values

'123432445'

In [123]:
series # Actual series string is still in his base form

' alICe in boRDerLanD   '

> 8.iv strip(): Removes leading and trailing whitespace characters from a string.

In [124]:
series.strip()

'alICe in boRDerLanD'

In [130]:
len(series)

23

In [131]:
len(series.strip())

19

> 8.v  replace(): Replaces a particular character from a string with a given character

In [132]:
series.replace(' ', '#')

'#alICe#in#boRDerLanD###'

In [133]:
series.title().replace(' ', '_')

'_Alice_In_Borderland___'

> 8.vi  split(): Splits a string into a list of substrings based on a delimiter.

In [134]:
series.split(' ')

['', 'alICe', 'in', 'boRDerLanD', '', '', '']

In [135]:
type(series.split(' '))

list

In [136]:
len(series.split(' '))

7

In [137]:
series.split('a')

[' ', 'lICe in boRDerL', 'nD   ']

###### Number of occurence of a character in a string using split() method

In [144]:
print("Number of occurence of 'a' in string '", series, "' is ", len(series.split('a'))-1)

Number of occurence of 'a' in string '  alICe in boRDerLanD    ' is  2

> 8.vii  count(): Returns number of counts of a given character or another string(substring) from a given string

In [156]:
series.count('a') # a count

2

In [157]:
series.count(' ')  # Blank space count

6

In [158]:
series.count('ace')

0

> 8.viii join(): Joins elements of a list into a single string using a specified separator.

In [164]:
'_'.join(series)

' _a_l_I_C_e_ _i_n_ _b_o_R_D_e_r_L_a_n_D_ _ _ '

In [160]:
season.join(series)

'  SeAsOn 1   a SeAsOn 1   l SeAsOn 1   I SeAsOn 1   C SeAsOn 1   e SeAsOn 1     SeAsOn 1   i SeAsOn 1   n SeAsOn 1     SeAsOn 1   b SeAsOn 1   o SeAsOn 1   R SeAsOn 1   D SeAsOn 1   e SeAsOn 1   r SeAsOn 1   L SeAsOn 1   a SeAsOn 1   n SeAsOn 1   D SeAsOn 1     SeAsOn 1     SeAsOn 1    '

In [165]:
''.join(series)

' alICe in boRDerLanD   '

In [166]:
' '.join(series)

'  a l I C e   i n   b o R D e r L a n D      '

> 8.ix. '+' : Concatination of two strings

In [167]:
series + season

' alICe in boRDerLanD    SeAsOn 1   '

In [172]:
series.strip().title() + ' - ' + season.strip().title()

'Alice In Borderland - Season 1'

> 8.x startswith(): Checks if a string starts with a specified prefix.

In [184]:
series.startswith('alIce') # startswith can't remove leading spaces

False

In [185]:
series.strip().startswith('alIce')  # startswith is case sensitive

False

In [199]:
series.strip().lower().startswith('alIce')  # Try better luck or apply logic

False

In [188]:
series.strip().lower().startswith('alIce'.lower())  # ðŸ‘

True

> 8.xi  isdigit(): Checks if all characters in a string are digits.

In [189]:
series.isdigit()

False

In [195]:
'12312423.4534534'.isdigit()

False

In [196]:
'123124234534534'.isdigit()

True

> 8.xii isdecimal(): Checks if all characters in a string are digits.

In [192]:
'123.124234.5345.34'.isdecimal()

False

In [197]:
'123124234534534'.isdecimal()

True

> 8.xiii  center() ljust() rjust() - String indentation LEFT, RIGHT, CENTER

In [433]:
print(" Printing in center ".center(50, '*'))

*************** Printing in center ***************

In [435]:
print(" Printing to right ".rjust(50, '*'))

******************************* Printing to right

In [437]:
print(" Printing from left ".ljust(50, '*'))

 Printing from left ******************************

<div class="alert-info">
9) How do you perform string slicing in Python?
</div>

###### 9.a) How do you perform string slicing in Python?

+ In Python String slicing is a technique that extract a subset of characters (substring) from a string.
+ It allows us to create a new string from a part of the original string by specifying the start and end index positions. 
+ The syntax for string slicing with one colon is string[start:end]. Here start and end represents the position of character in the complete length of string
  > string[start:end]
+ Slicing with two colons string[start:stop:step]. Here step represents how many characters to move forward (or backward if negative) after each character
  > string[start:stop:step]

###### 9.b.i) Example of string [ start : end ] (non-negative)

In [279]:
# Original string
series = " alICe in boRDerLanD   "

# Perform string slicing, here substring is a sliced from original string
substring = series[7:16]

# Output the sliced substring
print(substring)  # Output: World

in boRDer

In [216]:
series[7:16]  # Slice with start and end position

'in boRDer'

In [217]:
series[16:]   # slice with no end position

'LanD   '

In [219]:
series[:16]   # slice with no start position

' alICe in boRDer'

In [220]:
series[:16].title().strip()   # Just another day

'Alice In Border'

In [222]:
series[:]  # slice with no start and end position

' alICe in boRDerLanD   '

In [236]:
# Positive index/position of characters in string
print('Character -> Index Position')
for index, character in enumerate(series):
    print(f"        {character} -> {index}")

Character -> Index Position
          -> 0
        a -> 1
        l -> 2
        I -> 3
        C -> 4
        e -> 5
          -> 6
        i -> 7
        n -> 8
          -> 9
        b -> 10
        o -> 11
        R -> 12
        D -> 13
        e -> 14
        r -> 15
        L -> 16
        a -> 17
        n -> 18
        D -> 19
          -> 20
          -> 21
          -> 22

###### 9.b.ii) Example of string [ start : end ] (negative)

In [238]:
# Negative index/position of characters in string
print('Character -> Index Position')
for index, character in enumerate(series):
    negative_index = index - len(series)
    print(f"        {character} -> {negative_index}")

Character -> Index Position
          -> -23
        a -> -22
        l -> -21
        I -> -20
        C -> -19
        e -> -18
          -> -17
        i -> -16
        n -> -15
          -> -14
        b -> -13
        o -> -12
        R -> -11
        D -> -10
        e -> -9
        r -> -8
        L -> -7
        a -> -6
        n -> -5
        D -> -4
          -> -3
          -> -2
          -> -1

In [245]:
series[1:-10]

'alICe in boR'

In [247]:
series[-3:-7]  # Slicing always checks right side from the start position

''

In [249]:
series[-13:-11]  # Slice with negative start and end position

'bo'

In [246]:
series[-1:10]  # If we have given -1 as a start position then we can't get any substring, whatever the end position will give

''

###### 9.b.iii) Example of string [ start : end : step ] (non-negative)

In [283]:
series[1:15:1]

'alICe in boRDe'

In [284]:
series[1:15:2]  # It is steping 2 - 2 steps forward

'aIei oD'

In [285]:
series[1:15:3]  # It is steping 2 - 2 steps forward

'aCibD'

In [302]:
series[1:-4:1]  # This will return every character from the string starting from the beginning to the end.

'alICe in boRDerLan'

###### 9.b.iv) Example of string [ start : end : step ] (negative)

In [304]:
series[1:-4:-1]  # This will reverse the string by starting from the end and moving backwards with a step of -1. Strange Right!!

''

In [305]:
series[-4:1:-1]  # Use this effectively with good logic

'DnaLreDRob ni eCIl'

In [306]:
series[::-1]  # This will reverse the string by starting from the end and moving backwards with a step of -1.

'   DnaLreDRob ni eCIla '

<div class="alert-info">
10) Write a Python program to reverse a string.
</div>

###### 10.i) Write a Python program to reverse a string. - I (using slicing)

In [257]:
print(f'Main String : {series}')
print(f'Reversed String : {series[::-1]}')

Main String :  alICe in boRDerLanD
Reversed String :    DnaLreDRob ni eCIla

###### 10.b.ii) Write a Python program to reverse a string. - II (using reverse method)

In [259]:
''.join(reversed(series))

'   DnaLreDRob ni eCIla '

###### 10.b.iii) Write a Python program to reverse a string. - III (using a loop)

In [274]:
series = " alICe in boRDerLanD   "
reversed_series = ''
for c in series:
    reversed_series = c + reversed_series  # Only matters where we are appending (with +) after or before
reversed_series

'   DnaLreDRob ni eCIla '

###### 10.b.iv) Write a Python program to reverse a string. - IV (Using Stack-pop)

+ data structure pop, either in Dictionary or in List, always follows FIFO - First In First Out

In [323]:
series = " alICe in boRDerLanD   "  # Sample string
stack = list(series)                # Reversing the string using a stack
reversed_series = ''
while stack:
    reversed_series += stack.pop()  # Stack pop follows FIFO - First In First Out and it returns the element after pop-up (deleting)
print(reversed_series)

   DnaLreDRob ni eCIla

In [314]:
reversed_series

'   DnaLreDRob ni eCIla '

In [321]:
type(list(series))   # Still output is list not stack, because stack is implementation data structure behind the List

list

<div class="alert-info">
11) Explain the different types of loops in Python (for and while) with examples.
</div>

###### 11.a) Explain the different types of loops in Python (for and while) with examples.

> Mainly two types of loops:
+ for loop: 
The for loop is used for iterating over a sequence (such as a list, tuple, string, or range) or any iterable object. It executes a block of code a fixed number of times, based on the elements in the sequence
+ while loop: The while loop is used to repeatedly execute a block of code as long as a specified condition is true. It continues to execute the block until the condition becomes false.dd.

###### 11.b.i) Normal For Loop Example

> 11.i - Normal for loop I

In [448]:
data = ['name', 'Alice', 'age', 16, 'city', 'Wonderland', 'index', 1]
for val in data:   # Loop on List items 
    print(val)

name
Alice
age
16
city
Wonderland
index
1

> 11.ii - Normal loop II

In [446]:
my_dict = {'name': 'Alice', 'age': 16, 'city': 'Wonderland', 'index': 1}
for item in my_dict.items():    # Loop on Map items I
    print(item)

('name', 'Alice')
('age', 16)
('city', 'Wonderland')
('index', 1)

In [341]:
for value in my_dict.values():  # Loop on Map items II 
    print(value)

Alice
16
Wonderland
1

###### 11.b.ii)  Advance for loops

> 11.iii - Using enumerate() for Indexed Iteration
+ The enumerate() function adds a counter to an iterable and returns it as an enumerate object, which can be converted to a list of tuples.

In [53]:
my_dict = {'name': 'Alice', 'age': 16, 'city': 'Wonderland', 'index': 1}
your_dict = {'gender': 'Female', 'hobby': 'Reading Books', 'friend': 'Rabbit', 'index': 1}

In [367]:
for index, value in enumerate(my_dict.values()):
    print(f"Index: {index}, Value: {value}")

Index: 0, Value: Alice
Index: 1, Value: 16
Index: 2, Value: Wonderland
Index: 3, Value: 1

> 11.iv - Using zip() to Iterate Over Multiple Iterables
+ The zip() function allows us to iterate over multiple iterables (lists, tuples, etc.) in parallel.

In [351]:
keys = my_dict.keys()
values = my_dict.values()

for key, value in zip(keys, values):
    print(f"{key} is {value}.")

name is Alice.
age is 16.
city is Wonderland.
index is 1.

> 11.v - List Comprehensions
+ List comprehensions provide a concise way to create lists. They consist of brackets containing an expression followed by a for clause.

In [54]:
numbers = [1, 2, 3, 4, 5, -5, -4, 3, 2, 1]

In [358]:
squares = [x ** 2 for x in numbers]
print(squares)

[1, 4, 9, 16, 25, 25, 16, 9, 4, 1]

In [362]:
type(squares)

list

> 11.vi - Dictionary Comprehensions+ Similar to list comprehensions, but used to construct dictionaries.

In [360]:
squared_dict = {x: x ** 2 for x in numbers}
print(squared_dict)  # Dictionary removes duplicates

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, -5: 25, -4: 16}

In [363]:
type(squared_dict)

dict

> 11.vii - Set Comprehensions
+ Used to construct sets in a similar way to list comprehensions.

In [365]:
squared_set = {x ** 2 for x in numbers}
print(squared_set)

{1, 4, 9, 16, 25}

In [366]:
type(squared_set)

set

> 11.viii - Iterating with itertools
+ The itertools module provides a set of fast, memory-efficient tools for iterating over iterables.

> 11.viii.a - `itertools.product()` - Cartesian product of input iterables.

In [371]:
import itertools
for combo in itertools.product([1, 2], ['a', 'b']):
    print(combo)

(1, 'a')
(1, 'b')
(2, 'a')
(2, 'b')

In [372]:
import itertools
for combo in itertools.product(my_dict.keys(), my_dict.values()):
    print(combo)

('name', 'Alice')
('name', 16)
('name', 'Wonderland')
('name', 1)
('age', 'Alice')
('age', 16)
('age', 'Wonderland')
('age', 1)
('city', 'Alice')
('city', 16)
('city', 'Wonderland')
('city', 1)
('index', 'Alice')
('index', 16)
('index', 'Wonderland')
('index', 1)

> 11.viii.b `itertools.permutations()` - 
All possible permutations of the input iterable.

In [373]:
import itertools
for perm in itertools.permutations([1, 2, 3]):
    print(perm)

(1, 2, 3)
(1, 3, 2)
(2, 1, 3)
(2, 3, 1)
(3, 1, 2)
(3, 2, 1)

In [376]:
import itertools
for perm in itertools.permutations(my_dict.keys()):
    print(perm)

('name', 'age', 'city', 'index')
('name', 'age', 'index', 'city')
('name', 'city', 'age', 'index')
('name', 'city', 'index', 'age')
('name', 'index', 'age', 'city')
('name', 'index', 'city', 'age')
('age', 'name', 'city', 'index')
('age', 'name', 'index', 'city')
('age', 'city', 'name', 'index')
('age', 'city', 'index', 'name')
('age', 'index', 'name', 'city')
('age', 'index', 'city', 'name')
('city', 'name', 'age', 'index')
('city', 'name', 'index', 'age')
('city', 'age', 'name', 'index')
('city', 'age', 'index', 'name')
('city', 'index', 'name', 'age')
('city', 'index', 'age', 'name')
('index', 'name', 'age', 'city')
('index', 'name', 'city', 'age')
('index', 'age', 'name', 'city')
('index', 'age', 'city', 'name')
('index', 'city', 'name', 'age')
('index', 'city', 'age', 'name')

> 11.viii.c `itertools.combinations()` - All possible combinations of the input iterable with a specified length.

In [377]:
import itertools
for combo in itertools.combinations([1, 2, 3], 2):
    print(combo)

(1, 2)
(1, 3)
(2, 3)

In [379]:
import itertools
for combo in itertools.combinations([1, 2, 3], 3):
    print(combo)

(1, 2, 3)

In [382]:
import itertools
for combo in itertools.combinations([1, 2, 3], 4):
    print(combo) # No Output

In [381]:
import itertools
for combo in itertools.combinations([1, 2, 3], 1):
    print(combo)

(1,)
(2,)
(3,)

In [383]:
import itertools
for combo in itertools.combinations(my_dict.values(), 2):
    print(combo)

('Alice', 16)
('Alice', 'Wonderland')
('Alice', 1)
(16, 'Wonderland')
(16, 1)
('Wonderland', 1)

In [384]:
import itertools
for combo in itertools.combinations(my_dict.values(), 4):
    print(combo)

('Alice', 16, 'Wonderland', 1)

> 11.ix Nested for Loop
+ We can use nested for loops to iterate over multi-dimensional structures..

In [393]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
for row in matrix:
    for element in row:
        print(element, end=' ')
    print()

1 2 3
4 5 6
7 8 9

In [72]:
dict = {
    'name': ['John', 'Marie', 'Vicky', 'Sam', 'Hu Swan'],
    'age': [21, 23, 26, 18, 31],
    'city': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
}
for key,value in dict.items():
    print()
    print(f'Key -> {key}')
    for data in value:
        print(data, end=', ')

Key -> name
John, Marie, Vicky, Sam, Hu Swan,
Key -> age
21, 23, 26, 18, 31,
Key -> city
New York, Los Angeles, Chicago, Houston, Phoenix,

> 11.x Using else with Loops
+ The else block after a for loop executes only if the loop completes without encountering a break statement.

In [20]:
keys = my_dict.keys()
for key in keys:  # without break statement
    print(key)
else:
    print("No more key to display.")

name
age
city
index
No more key to display.

In [405]:
keys = my_dict.keys()
for key in keys:
    if key == 'index':
        break     # with break statement
    print(key)
else:
    print("No more key to display.")

name
age
city

> 11.xi  Iterating Over a Dictionary
+ We can iterate over a dictionaryâ€™s keys, values, or key-value pairs.

In [431]:
merge_dict = my_dict.copy()
merge_dict.update(your_dict)

# Iterating over keys
print(" Printing only Dictionary's keys ".center(50, '*'))
for key in merge_dict.keys():
    print(key)

# Iterating over values
print(" Printing only Dictionary's values ".center(50, '*'))
for value in merge_dict.values():
    print(value)

# Iterating over key-value pairs
print(" Printing Key-Value pair ".center(50, '*'))
for key, value in merge_dict.items():
    print(f"{key}: {value}")

******** Printing only Dictionary's keys *********
name
age
city
gender
hobby
friend
index
******* Printing only Dictionary's values ********
Alice
30
New York
Female
Reading Books
Rabbit
1
************ Printing Key-Value pair *************
name: Alice
age: 30
city: New York
gender: Female
hobby: Reading Books
friend: Rabbit
index: 1

###### 11.b.i) Normal For Loop Example

> 11.xii - Normal while loop

count = 0
while count < 5:
    print(f"Count is {count}")
    count += 1

> 11.xiii - Normal while loop with else

In [453]:
count = 0
while count < 5:
    print(f"Count is {count}")
    count += 1
else:
    print("Loop completed")

Count is 0
Count is 1
Count is 2
Count is 3
Count is 4
Loop completed

> 11.xiv - Normal while loop with `break` `continue` and `else`

In [10]:
numbers = [1, 2, 3, 4, 5, -5, -4, 3, 2, 1]
count = 0
while count < len(numbers):
    num = numbers[count]
    count += 1
    if num == 0:  # if 0 found then break the entire loop execution
        break
    elif num < 0:   # if -ve number found then don't go below statement, but execute the next loop iteration
        continue
    else:
        print(f"Number is {num}")
else:
    print("Loop completed without break")

Number is 1
Number is 2
Number is 3
Number is 4
Number is 5
Number is 3
Number is 2
Number is 1
Loop completed without break

In [24]:
numbers = [1, 2, 3, 4, 5, -5, -4, 3, 2, 1, 0, -1, 9]
count = 0
while count < len(numbers):
    num = numbers[count]
    count += 1
    if num == 0:  # if 0 found then break the entire loop execution
        break
    elif num < 0:   # if -ve number found then don't go below statement, but execute the next loop iteration
        continue
    else:
        print(f"Number is {num}")
else:
    print("Loop completed without break")

Number is 1
Number is 2
Number is 3
Number is 4
Number is 5
Number is 3
Number is 2
Number is 1

> 11.xv - Infinite while Loop with Conditional Break
+ An infinite loop can be useful, especially when combined with a condition to break out of the loop.

In [14]:
count = 0
while True:
    print(f"Count is {count}")
    count += 1
    if count >= 5:
        break

Count is 0
Count is 1
Count is 2
Count is 3
Count is 4

> 11.xvi - Using while Loop for Input Validation
+ A while loop is useful for repeatedly asking for user input until a valid response is given.

In [17]:
while True:
    user_input = input("Enter a number greater than 10 and lesser than 100: ")
    if user_input.isdigit() and int(user_input) > 10 and int(user_input) < 100:
        print(f"Thank you! You entered {user_input}.")
        break
    else:
        print("Invalid input. Please try again.")

Enter a number greater than 10 and lesser than 100:  0

Invalid input. Please try again.

Enter a number greater than 10 and lesser than 100:  -11

Invalid input. Please try again.

Enter a number greater than 10 and lesser than 100:  T

Invalid input. Please try again.

Enter a number greater than 10 and lesser than 100:  01010101101

Invalid input. Please try again.

Enter a number greater than 10 and lesser than 100:  100

Invalid input. Please try again.

Enter a number greater than 10 and lesser than 100:  11 11 11 11

Invalid input. Please try again.

Enter a number greater than 10 and lesser than 100:  21

Thank you! You entered 21.

> 11.xvii -  Normal Nested while Loops+ Weu can nest while loops inside each other, which is useful for multi-level iteration.

In [21]:
i = 1
while i <= 3:
    j = 1
    while j <= 3:
        print(f"i = {i}, j = {j}")
        j += 1
    i += 1

i = 1, j = 1
i = 1, j = 2
i = 1, j = 3
i = 2, j = 1
i = 2, j = 2
i = 2, j = 3
i = 3, j = 1
i = 3, j = 2
i = 3, j = 3

> 11.xviii - Using while Loop with `iter()` and `next()`
+ We can use a while loop with iter() and next() for custom iteration over an iterable.

In [26]:
numbers = [1, 2, 3, 4, 5, -5, -4, 3, 2, 1, 0, -1, 9]
iterator = iter(numbers)
while True:
    try:
        number = next(iterator)
        print(number)
    except StopIteration:
        break

1
2
3
4
5
-5
-4
3
2
1
0
-1
9

In [31]:
type(iterator)

list_iterator

> 11.xix - Using while Loop with itertools
+ The itertools module provides tools for efficient looping. For example, we can use itertools.cycle to iterate infinitely over a list.

In [28]:
import itertools

value_cycle = itertools.cycle(my_dict.values())
count = 0
while count < 10:
    print(next(value_cycle))
    count += 1

Alice
16
Wonderland
1
Alice
16
Wonderland
1
Alice
16

In [32]:
type(value_cycle)

itertools.cycle

> 11.xx - Complex/Multi Condition in while Loop
+ We can use complex conditions in a while loop to control the iteration based on multiple factors.

In [34]:
a = 0
b = 5
while a < 10 and b > 0:
    print(f"a = {a}, b = {b}")
    a += 1
    b -= 1

a = 0, b = 5
a = 1, b = 4
a = 2, b = 3
a = 3, b = 2
a = 4, b = 1

> 11.xxi - while Loop for `Processing Data Streams` with `next()`
+ A while loop can be used to process data streams where the end of the data is not known in advance.

In [41]:
import random

# Simulating a data stream with random numbers
def data_stream():
    while True:
        yield random.randint(1, 100)

def call():
    stream = data_stream()
    while True:
        number = next(stream)
        print(f"Received number: {number}")
        if number > 90:
            print("Number greater than 90 received, stopping.")
            break
call()

Received number: 85
Received number: 13
Received number: 49
Received number: 79
Received number: 11
Received number: 75
Received number: 54
Received number: 38
Received number: 41
Received number: 32
Received number: 79
Received number: 22
Received number: 76
Received number: 94
Number greater than 90 received, stopping.

In [39]:
call()

Received number: 100
Number greater than 90 received, stopping.

In [43]:
call()

Received number: 90
Received number: 64
Received number: 75
Received number: 91
Number greater than 90 received, stopping.

<div class="alert-info">
12) How do you use the break and continue statements in loops?
</div>

###### 12.a) while loop

> `break` and `continue` statements in `while` loop

In [88]:
def validate_with_while(numbers):
    count = 0
    while count < len(numbers):
        num = numbers[count]
        count += 1
        if num == 0:  # if 0 found then break the entire loop execution
            break
        elif num < 0:   # if -ve number found then don't go below statement, but execute the next loop iteration
            continue
        else:
            print(f"Number is {num}")
    else:
        print("Loop completed without break")

In [94]:
numbers = [1, 2, 3, 4, 5, -5, -4, 3]
validate_with_while(numbers)

Number is 1
Number is 2
Number is 3
Number is 4
Number is 5
Number is 3
Loop completed without break

In [90]:
numbers = [1, 2, 3, 4, 5, -5, -4, 3, 0, 2, 1]
validate_with_while(numbers)

Number is 1
Number is 2
Number is 3
Number is 4
Number is 5
Number is 3

######  12.b) for loop

> `break` and `continue` statements in `for` loop

In [97]:
def validate_with_for(numbers):
    for number in numbers:
        if number == 0:  # if 0 found then break the entire loop execution
            break
        elif number < 0:   # if -ve number found then don't go below statement, but execute the next loop iteration
            continue
        else:
            print(f"Number is {number}")
    else:
        print("Loop completed without break")

In [98]:
numbers = [1, 2, 3, 4, 5, -5, -4, 3, 0, 2, 1]
validate_with_for(numbers)

Number is 1
Number is 2
Number is 3
Number is 4
Number is 5
Number is 3

In [99]:
numbers = [1, 2, 3, 4, 5, -5, -4, 3]
validate_with_for(numbers)

Number is 1
Number is 2
Number is 3
Number is 4
Number is 5
Number is 3
Loop completed without break

<div class="alert-info">
13) Write a Python program to print the multiplication table of a given number using a loop.
</div>

In [103]:
def print_table():
    # Get the number from the user
    number = int(input("Enter a number: "))
    
    # Print the multiplication table up to 10
    print(f"Multiplication Table for {number}:")
    
    for i in range(1, 11):
        result = number * i
        print(f"{number} x {i} = {result}")

In [104]:
print_table()

Enter a number:  23

Multiplication Table for 23:
23 x 1 = 23
23 x 2 = 46
23 x 3 = 69
23 x 4 = 92
23 x 5 = 115
23 x 6 = 138
23 x 7 = 161
23 x 8 = 184
23 x 9 = 207
23 x 10 = 230

In [106]:
print_table()

Enter a number:  -2

Multiplication Table for -2:
-2 x 1 = -2
-2 x 2 = -4
-2 x 3 = -6
-2 x 4 = -8
-2 x 5 = -10
-2 x 6 = -12
-2 x 7 = -14
-2 x 8 = -16
-2 x 9 = -18
-2 x 10 = -20

<div class="alert-info">
14) Write a Python program to check if a number is even or odd using conditional statements.
</div>

In [139]:
def conditional_check():
    
    # Get the number from the user
    data = input("Enter a number: ")
    number = 0

    # Validate number
    if data.isdigit():
        number = int(data)
    else:
        print(f"Please entre a valid number. {data} is invalid")
        return
    
    # Check if the number is even or odd
    if number == 0:
        print("Please entre a valid number.")
    elif number % 2 == 0:
        print(f"{number} is an even number.")
    else:
        print(f"{number} is an odd number.")

In [140]:
conditional_check()

Enter a number:  0

Please entre a valid number.

In [141]:
conditional_check()

Enter a number:  -0

Please entre a valid number. -0 is invalid

In [142]:
conditional_check()

Enter a number:  22/7

Please entre a valid number. 22/7 is invalid

In [143]:
conditional_check()

Enter a number:  3.14

Please entre a valid number. 3.14 is invalid

In [144]:
conditional_check()

Enter a number:  -9

Please entre a valid number. -9 is invalid

In [145]:
conditional_check()

Enter a number:  +9

Please entre a valid number. +9 is invalid

In [146]:
conditional_check()

Enter a number:  12

12 is an even number.

In [147]:
conditional_check()

Enter a number:

Please entre a valid number.  is invalid

In [148]:
conditional_check()

Enter a number:  23

23 is an odd number.

<div class="alert-info">
15) What is the purpose of functions in Python? How do you define and call a function?
</div>

Functions in Python are reusable blocks of code that perform a specific task. They allow us to break down our program into smaller, modular components, making our code more organized, easier to understand, and maintainable. Functions help in reducing redundancy by allowing us to reuse the same block of code multiple times without having to rewrite it.

> Key Features
+ Code reusability: Functions allow us to define a block of code once and use it multiple times in our program.
+ Modularity: Functions help in organizing code into smaller, manageable parts, making it easier to read and maintain.
+ Abstraction: Functions hide the implementation details and provide an interface to interact with the code.
+ Encapsulation: Functions encapsulate a piece of code with a specific purpose and scope.

> To define a function in Python:
+ We use the def keyword, followed by the function name and parentheses ( ) containing optional parameters.
+ The function body is indented and contains the code to be executed when the function is called.

> To call a function in Python,
+ We simply use the function name followed by parentheses ( ) containing any required arguments.
+ This invokes the function, causing the code inside the function to be executed.

> 15.i - Defining and Calling a normal function

In [149]:
# Defining a function
def greet(name):
    return f"Hello, {name}!"

# Call the function
message = greet("Alice")

# Printing output from a function
print(message)

Hello, Alice!

> 15.ii - Defining and Calling a nested function

In [152]:
# Dictionary to store user profiles
user_profiles = {}

# Main function to manage user profiles
def manage_user_profile(action, username, *args, **kwargs):
    def add_user():
        if username in user_profiles:
            print(f"User '{username}' already exists.")
        else:
            user_profiles[username] = {
                'name': kwargs.get('name', 'Unknown'),
                'age': kwargs.get('age', None),
                'city': kwargs.get('city', 'Unknown')
            }
            print(f"User '{username}' added.")

    def update_user():
        if username not in user_profiles:
            print(f"User '{username}' does not exist.")
        else:
            for key, value in kwargs.items():
                if key in user_profiles[username]:
                    user_profiles[username][key] = value
            print(f"User '{username}' updated.")

    def display_user():
        if username not in user_profiles:
            print(f"User '{username}' does not exist.")
        else:
            print(f"Profile of '{username}': {user_profiles[username]}")

    if action == 'add':
        add_user()
    elif action == 'update':
        update_user()
    elif action == 'display':
        display_user()
    else:
        print("Invalid action. Use 'add', 'update', or 'display'.")

In [154]:
# Adding a user
manage_user_profile('add', 'alice', name='Alice', age=30, city='New York')

# Updating the user's profile
manage_user_profile('update', 'alice', age=31, city='Los Angeles')

# Displaying the user's profile
manage_user_profile('display', 'alice')

# Trying to display a non-existent user
manage_user_profile('display', 'bob')

User 'alice' added.
User 'alice' updated.
Profile of 'alice': {'name': 'Alice', 'age': 31, 'city': 'Los Angeles'}
User 'bob' does not exist.

In [155]:
# Adding a user
manage_user_profile('add', 'john', name='John', age=32, city='Paris')

# Updating the user's profile
manage_user_profile('update', 'john', age=33, city='New York')

# Displaying the user's profile
manage_user_profile('display', 'john')

# Trying to display a non-existent user
manage_user_profile('display', 'jacky')

User 'john' added.
User 'john' updated.
Profile of 'john': {'name': 'John', 'age': 33, 'city': 'New York'}
User 'jacky' does not exist.

In [157]:
manage_user_profile('display', 'john')
manage_user_profile('display', 'alice')
manage_user_profile('display', 'jacky')

Profile of 'john': {'name': 'John', 'age': 33, 'city': 'New York'}
Profile of 'alice': {'name': 'Alice', 'age': 31, 'city': 'Los Angeles'}
User 'jacky' does not exist.

<div class="alert-info">
16) Write a Python function to calculate the factorial of a given number.
</div>

In [160]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

def call_factorial():
    # Get the number from the user
    number = int(input("Enter a number: "))

    # Call the factorial function and print the result
    result = factorial(number)
    print(f"The factorial of {number} is {result}")

In [161]:
call_factorial()

Enter a number:  23

The factorial of 23 is 25852016738884976640000

In [162]:
call_factorial()

Enter a number:  3

The factorial of 3 is 6

In [163]:
call_factorial()

Enter a number:  0

The factorial of 0 is 1

In [164]:
call_factorial()

Enter a number:  1

The factorial of 1 is 1

<div class="alert-info">
17) Write a Python function to check if a string is a palindrome.
</div>

In [166]:
def is_palindrome(s):
    # Remove spaces and convert the string to lowercase
    s = s.replace(" ", "").lower()
    return s == s[::-1]

def check_palindrom():
    # Get the string from the user
    input_string = input("Enter a string: ")

    # Check if the input string is a palindrome
    if is_palindrome(input_string):
        print(f"'{input_string}' is a palindrome.")
    else:
        print(f"'{input_string}' is not a palindrome.")

In [167]:
check_palindrom()

Enter a string:  323

'323' is a palindrome.

In [168]:
check_palindrom()

Enter a string:  321

'321' is not a palindrome.

In [169]:
check_palindrom()

Enter a string:  -0-1-0

'-0-1-0' is not a palindrome.

In [170]:
check_palindrom()

Enter a string:  DaLAd

'DaLAd' is a palindrome.

<div class="alert-info">
18) Implement a decorator in Python that calculates the execution time of a function.
</div>

> In Python, 
+ We can implement a decorator to calculate the execution time of a function using the time module. 
+ Decorators are a powerful feature that allows us to modify or enhance the behavior of functions without changing their original code.

In [172]:
import time

# Decorator function to calculate the execution time
def calculate_execution_time(func):
    def wrapper(*args, **kwargs):
        start_time = time.time()
        result = func(*args, **kwargs)
        end_time = time.time()
        execution_time = end_time - start_time
        print(f"Execution time of '{func.__name__}': {execution_time:.6f} seconds")
        return result
    return wrapper

# Apply the decorator to a function
@calculate_execution_time
def example_function(period):
    # Simulate some time-consuming task
    time.sleep(period)
    print("Function execution complete")

In [173]:
example_function(2)

Function execution complete
Execution time of 'example_function': 2.000624 seconds

In [174]:
example_function(3)

Function execution complete
Execution time of 'example_function': 3.000614 seconds

In [175]:
example_function(1)

Function execution complete
Execution time of 'example_function': 1.000336 seconds

<div class="alert-info">
19) Write a Python program to find the sum of all even numbers in a list using lambda functions.
</div>

+ Lambda functions are anonymous functions that can be used for simple operations without defining a named function.

In [178]:
# Input list containing numbers
numbers = [1, 2, 3, 4, 5, -5, -4, 3, 2, 1, 0, -1, 9]

# Use a lambda function with filter to filter even numbers
# list(filter()) function applies the lambda function to filter out the even numbers
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))

# Calculate the sum of all even numbers in the list
sum_of_even_numbers = sum(even_numbers)

print(f"List of even numbers: {even_numbers}")
print(f"Sum of all even numbers: {sum_of_even_numbers}")

List of even numbers: [2, 4, -4, 2, 0]
Sum of all even numbers: 4

<div class="alert-info">
20) What is the purpose of the init() method in Python classes?
</div>

> In Python, 
+ The __init__() method is a special method (also known as a constructor) that is automatically called when a new instance of a class is created. 
+ The primary purpose of the __init__() method is to initialize the attributes of an object or perform any necessary setup when the object is instantiated.
                
> Key Features
+ Initialization: The __init__() method is used to initialize the attributes (data members) of an object when it is created.
+ Automatically Invoked: The __init__() method is automatically called when an instance of the class is created using the class name followed by parentheses (ClassName()) or by using object instantiation.
+ Self Parameter: The self parameter is always the first parameter of the __init__() method, representing the instance of the class being initialized.
+ Attribute Assignment: Inside the __init__() method, we can assign values to instance variables (attributes) of the class using self.attribute_name = initial_value.
+ Custom Initialization Logic: We can also include custom initialization logic, perform validations, or set default attribute values inside the __init__() method.

In [180]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def display_info(self):
        print(f"Name: {self.name}, Age: {self.age}")

In [183]:
person1 = Person("Alice", 30)
person2 = Person("John", 44)

In [184]:
person1.display_info()
person2.display_info()

Name: Alice, Age: 30
Name: John, Age: 44

In [185]:
person3 = Person("Wicky", 42)

In [186]:
person3.display_info()

Name: Wicky, Age: 42

<div class="alert-info">
21) Explain the concepts of inheritance and polymorphism in Python with examples.
</div>

> Inheritance is a fundamental concept in object-oriented programming that allows a class (child or subclass) to inherit attributes and methods from another class (parent or superclass).

> In Python, a subclass can inherit properties and behaviors (methods) from a superclass, which promotes code reusability and supports the "is-a" (hierarchical relationship) relationship between classes.

In [187]:
import math

# Base class
class Shape:
    def __init__(self, color='black'):
        self.color = color

    def area(self):
        raise NotImplementedError("Subclass must implement abstract method")

    def perimeter(self):
        raise NotImplementedError("Subclass must implement abstract method")

# Derived class for Rectangle
class Rectangle(Shape):
    def __init__(self, width, height, color='black'):
        super().__init__(color)
        self.width = width
        self.height = height

    def area(self):
        return self.width * self.height

    def perimeter(self):
        return 2 * (self.width + self.height)

# Derived class for Circle
class Circle(Shape):
    def __init__(self, radius, color='black'):
        super().__init__(color)
        self.radius = radius

    def area(self):
        return math.pi * self.radius ** 2

    def perimeter(self):
        return 2 * math.pi * self.radius

In [188]:
# Creating instances of Rectangle and Circle
rectangle = Rectangle(4, 5, 'blue')
circle = Circle(3, 'red')

# Displaying area and perimeter
print(f"Rectangle: Color = {rectangle.color}, Area = {rectangle.area()}, Perimeter = {rectangle.perimeter()}")
print(f"Circle: Color = {circle.color}, Area = {circle.area()}, Perimeter = {circle.perimeter()}")

Rectangle: Color = blue, Area = 20, Perimeter = 18
Circle: Color = red, Area = 28.274333882308138, Perimeter = 18.84955592153876

In [189]:
# Creating instances of Rectangle and Circle
rectangle = Rectangle(2, 1, 'brown')
circle = Circle(5, 'black')

# Displaying area and perimeter
print(f"Rectangle: Color = {rectangle.color}, Area = {rectangle.area()}, Perimeter = {rectangle.perimeter()}")
print(f"Circle: Color = {circle.color}, Area = {circle.area()}, Perimeter = {circle.perimeter()}")

Rectangle: Color = brown, Area = 2, Perimeter = 6
Circle: Color = black, Area = 78.53981633974483, Perimeter = 31.41592653589793

<div class="alert-info">
22) Fill in the blanks to create a list of integers from 1 to 10: numbers = [__ for __ in range(____)]
</div>

Ans: 1.) num  2.) num  3.) 1, 11

> Program:

In [191]:
numbers = [num for num in range(1, 11)]
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

<div class="alert-info">
    23) Fill in the blanks to create a dictionary with keys as numbers from 1 to 5 and values as their squares:
</div>
<div class="alert-info">
    squared_numbers = {__: __ ** 2 for __ in range(____)}
</div>

Ans: 1.) n   2.) n   3.) 1, 6

> Program:

In [196]:
squared_numbers = {n: n ** 2 for n in range(1, 6)}
squared_numbers

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

<div class="alert-info">
    24) Fill in the blanks to print the elements of a list using a for loop: 
</div>
<div class="alert-info">
    fruits = ["apple", "banana", "cherry"] for __ in ____: print(__)
</div>

Ans:  1.)  fruit   2.) fruits   3.) fruit

> Program:

In [198]:
fruits = ["apple", "banana", "cherry"] 
for fruit in fruits: 
    print(fruit)

apple
banana
cherry

<div class="alert-info">
    25) Fill in the blanks to define a function that takes two numbers and returns their sum:
</div>
<div class="alert-info">
    def add_numbers(a, b): ____
</div>

Ans: 1.) return a + b

> Program:

In [200]:
def add_numbers(a, b):
    return a + b

In [202]:
add_numbers(5, 6)

11

In [203]:
add_numbers(-5, -6)

-11

<div class="alert-info">
    26) Fill in the blanks to create a lambda function that squares a number: 
</div>
<div class="alert-info">
    square = lambda x: ____
</div>

Ans: 1.) x**2

> Program: I

In [205]:
square = lambda x: x**2

+ Program Implementation: II

In [211]:
# List of numbers
numbers = [2, 4, 6, 8, 10]

# Lambda function to square a number
square = lambda x: x**2

# Applying the lambda function to square each number in the list
squared_numbers = list(map(square, numbers))

# Print the original numbers and their squares
print("Original numbers:", numbers)
print("Squared numbers:", squared_numbers)

Original numbers: [2, 4, 6, 8, 10]
Squared numbers: [4, 16, 36, 64, 100]

<div class="alert-info">
    27) Fill in the blanks to use a conditional statement to check if a number is positive, negative, or zero: 
</div>
<div class="alert-info">
    number = -5 
     if ____: 
     print("Positive") 
     ____ number < 0:
     print("Negative") 
     ____: 
     print("Zero")
</div>

Ans: 1.) number > 0   2.) elif   3.) else

> Program:

In [212]:
number = -5
if number > 0:
    print("Positive")
elif number < 0:
    print("Negative")
else:
    print("Zero"

Negative

<div class="alert-info">
    28) Fill in the blanks to create a string from a list of characters:
</div>
<div class="alert-info">
    characters = ['P', 'y', 't', 'h', 'o', 'n'] word = .join()
</div>

Ans:  1.)  ''.join(characters)

> Program:

In [216]:
characters = ['P', 'y', 't', 'h', 'o', 'n'] 
word = ''.join(characters)
word

'Python'

<div class="alert-info">
    29) Fill in the blanks to use string slicing to reverse a string:
</div>
<div class="alert-info">
    text = "Hello, World!" reversed_text = ____
</div>

In [ ]:
Ans:  1.) text[::-1]

> Program:

In [217]:
text = "Hello, World!" 
reversed_text = text[::-1]
reversed_text

'!dlroW ,olleH'

<div class="alert-info">
    30) Write a Python function to calculate the factorial of a number using recursion.
</div>

>  Program:

In [219]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

def call_factorial():
    number = int(input("Enter a number: "))
    result = factorial(number)
    print(f"The factorial of {number} is {result}")

In [220]:
call_factorial()

Enter a number:  3

The factorial of 3 is 6

In [221]:
call_factorial()

Enter a number:  5

The factorial of 5 is 120

<div class="alert-success">
    <a href="https://github.com/manishpsdInd">Manish Prasad</a> [M.Tech. | Applied AI | VNIT Nagpur | 23-24/S24 ] Assignment Over
</div>